@page
@model LindnerAirlines.Pages.Flights.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="bgim"> 
    <h1>Edit a Flight</h1>
        <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Flight.Id" />
                <div class="form-group">
                    <label asp-for="Flight.FlightNumber" class="control-label"></label>
                    <input asp-for="Flight.FlightNumber" class="form-control" />
                    <span asp-validation-for="Flight.FlightNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Flight.Source" class="control-label"></label>
                    <input asp-for="Flight.Source" class="form-control" />
                    <span asp-validation-for="Flight.Source" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Flight.Destination" class="control-label"></label>
                    <input asp-for="Flight.Destination" class="form-control" />
                    <span asp-validation-for="Flight.Destination" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn  btn-sm btn-warning" asp-page="./Index">Back to List</a>
    </div>
    <br />
    <br />

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
