@page
@model LindnerAirlines.Pages.OurTeamModel
@{
}
<div class="row">
    <div class="col">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="https://media.licdn.com/dms/image/D5603AQGBqfbROTJeQA/profile-displayphoto-shrink_800_800/0/1694046068552?e=1699488000&v=beta&t=bxSiyhY-w9mmWX5R8koc0gZXKtsRT9hJm4fYEW844-8" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Chandra Sekhar Cherukuri</h4>
                <p class="card-text">CEO - Lindner Airlines</p>
                <p class="card-text">
                    Chanrda Sekhar Cherukuri always been passionate about helping people and has been coaching since early in his career. He worked in Airline and Logistics Warehousing advisors about the best strategies and products for their clients for a number of years before starting a family. Feeling that a pivot was needed to create a better balance, and to feed some interests that weren’t investment banking, he started working in clinical research helping small foreign companies do business with US-based pharmaceutical companies. As the “Great Recession” waned, he was asked to join a recruiting company to set up their Pharma/Biotech business.

                </p>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="~/images/Nikhil.jpeg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Nikhil Runku</h4>
                <p class="card-text">Vice President - Lindner Airlines</p>
                <p class="card-text">
                    Nikhil Runku is the Process and Procedure Analyst for Andy Thomas Careers Now. He has over 5 years of experience working in a corporate setting as an Area Administrator, Office Manager and Corporate Trainer. With a strong philanthropic sensibility, Janet has previously held a position as a Public Relations and Fundraising Manager for Cystic Fibrosis Worldwide Inc.

                </p>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="col">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="~/images/Bhargav.jpeg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Bhargav Sreepathi</h4>
                <p class="card-text">Human Resource Head - Lindner Airlines</p>
                <p class="card-text">
                    Bhargav Sreepathi, Operations Coordinator for Andy Thomas Careers Now, is responsible for overseeing all operations platform. In this multifaceted role, she is responsible for technical processes, scheduling of clients, overseeing the distribution of resume activities and for the company’s social media presence.
                </p>
            </div>
        </div>
    </div>

</div>
<br />
<br />
<br />