@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<small>Effective: January 1, 2022.</small>

<br>
<br>


<div class="privacy">
    <h2> Key Information </h2>
    <ul>
        <li>
            Lindner Airlines, Inc. is the data controller of the personal information we collect about you
            (i.e., the entity that determines the means and purposes of collecting, using, and disclosing
            the personal information), unless you are part of a degree, certain MasterTrack programs, or
            certain other circumstances as communicated to you, in which case EduSmart is the data
            processor.
        </li>
        <li>
            We collect the personal information set out in the "What Information We Collect" section of
            this Privacy Notice below, including account registration details such as name and email,
            details of Content Offerings you undertake, survey information (where you provide it),
            identity verification data, and information about your use of our site and Services.
        </li>
        <li>
            We use your personal information for the purposes set out in the "How We Use the Information"
            section of this Privacy Notice below, including providing our site and Services to you,
            ensuring the security and performance of our site, conducting research relating to Content
            Offerings, sharing information with our Content Providers and our suppliers, direct marketing,
            and performing statistical analysis of the use of our site and Services.
        </li>
        <li>
            You have a number of rights that you can exercise in relation to our use of your personal
            information, as set out in the "Updating or Deleting Your Personally Identifiable
            Information".
        </li>
    </ul>
</div>

<br>
<br />
<br />


